@{
    ViewData["Title"] = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProductFilterModel productFilterModel = new ProductFilterModel();
}

@using System.Data
@using ECommerce.Areas.Product.Models
@model DataTable

<div class="site-wrap">
    <div class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12 mb-0"><a asp-action="Index" asp-controller="Home">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Shop</strong></div>
            </div>
        </div>
    </div>
    <div class="site-section">
        <div class="container">
            <form asp-action="ProductFilter" asp-controller="Product" asp-area="Product" method="POST" class="row g-3">
                <div class="col-md-3">
                    <div class="form-floating mb-3">
                        <select class="form-control" asp-for="@productFilterModel.CategoryID" asp-items="@(new SelectList(ViewBag.CategoryList, "CategoryID", "CategoryName"))">
                            <option value="">Select Category</option>
                        </select>
                        <span asp-validation-for="@productFilterModel.CategoryID" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingZip" placeholder="Product Name" asp-for="@productFilterModel.ProductName">
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="text-right">
                        <button type="submit" class="btn btn-outline-success">Submit</button>
                        <button type="button" class="btn btn-outline-secondary">Reset</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (DataRow dataRow in Model.Rows)
            {
                <div class="col-sm-6 col-lg-4 mb-4" data-aos="fade-up">
                    <div class="block-4 text-center border">
                        <figure class="block-4-image">
                            <a asp-area="Product" asp-controller="Product" asp-action="ShoppingProductByID" asp-route-productid="@Convert.ToInt32(dataRow["ProductID"])"><img src="@Url.Content(dataRow["DisplayImage"].ToString())" alt="Image placeholder" class="img-fluid"></a>
                        </figure>
                        <div class="block-4-text p-4">
                            <h3><a href="shop-single.html">@dataRow["ProductName"]</a></h3>
                            <p class="mb-0">@dataRow["CategoryName"]</p>
                            <p class="text-primary font-weight-bold">@dataRow["Price"]</p>
                        </div>
                    </div>
                </div>
            }
        </div>



    </div>
</div>
